/* GRASS documentation site style sheet
 * (copied by 'tools/build_html_index.sh')
 *
 * send improvements to GRASS Developers list
 * 
 *  (eg how to reach the same result on netscape, mozilla konqueror?)
 *
 * Fonts:
 *	http://www.w3.org/TR/REC-CSS2/fonts.html
 * Tables:
 *	http://www.w3.org/TR/REC-CSS2/tables.html
 */

body{
    background: white;
    color: black;
    font-family: arial,sans-serif;
}

h1{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: x-large;
}

h2{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: large;
}

h3{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: large;
}

h4{
    background-color: transparent;
    color: rgb(25%, 60%, 25%);
    font-family: arial,sans-serif;
    font-weight: bold;
    font-size: medium;
}

div.code{
    width: 95%;
    color : black;
    background-color: rgb(90%, 90%, 90%);
    padding-left: 1em;
    padding-right: 1em;
}

span.code {
    width: 95%;
    color : black;
    background-color: rgb(90%, 90%, 90%);
    padding-left: 1em;
    padding-right: 1em;
}

.leftmenu {
    padding-left: 10px;
}

.box {
    border:  1px solid #c9c9c9;
    margin: 0px 2px 2px 10px;
    padding: 0px 4px 2px 6px;
    -moz-border-radius: 6px ;
}

table.border {
    border-collapse:collapse;
}

table.border td {
    border: 1px solid rgb(25%, 60%, 25%);
}

td {
    padding: 5px;
}
