/emacs.desktop
*~
*.lock
*.pyc
OBJ.*
locale/*
bin.*/*
dist.*/*
config.log
config.status*
error.log
grass.pc

# ignore specific file generated during make
gui/wxpython/menustrings.py
gui/wxpython/xml/menudata.xml
gui/wxpython/xml/module_tree_menudata.xml
include/Make/Doxyfile_arch_html
include/Make/Doxyfile_arch_latex
include/Make/Platform.make
include/config.h
include/version.h
lib/db/sqlp/sqlp.output
lib/db/sqlp/sqlp.tab.c
lib/db/sqlp/sqlp.tab.h
lib/db/sqlp/sqlp.yy.c
lib/python/ctypes/ctypesgencore/parser/lextab.py
lib/python/script/setup.py.tmp
raster/r.mapcalc/mapcalc.output
raster/r.mapcalc/mapcalc.tab.c
raster/r.mapcalc/mapcalc.tab.h
raster/r.mapcalc/mapcalc.yy.c
testreport/*
testsuite/examples/testreports/
mswindows/GRASS-Installer.nsi
mswindows/GRASS-Packager.bat
mswindows/osgeo4w/configure-stamp
mswindows/osgeo4w/lib/
mswindows/osgeo4w/package.log*
mswindows/osgeo4w/package/
mswindows/osgeo4w/setup*.hint
mswindows/osgeo4w/vc/
daag*.s
