---
ci:
  skip: [flake8]
default_language_version:
  node: lts
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
                configure$|
                .*\.md$|
                .*\.ascii$|
                .*\.asc$|
                .*\.ref$|
                raster3d/r3.null/testsuite/data/test_volume_.*|
                mswindows/.*|
                .*\.po$|
                .*\.ps$|
                .*\.svg$|
                python/grass/temporal/ply/|
                python/libgrass_interface_generator/ctypesgen/|
                lib/fonts/fonts/.*
          )
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
                configure$|
                .*\.ascii$|
                .*\.asc$|
                .*\.ref$|
                python/grass/pygrass/raster/testsuite/data/geology_cats|
                mswindows/.*|
                .*\.po$|
                .*\.ps$|
                .*\.svg$|
                python/grass/temporal/ply/|
                python/libgrass_interface_generator/ctypesgen/|
                lib/fonts/fonts/.*
          )
      - id: destroyed-symlinks
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-json
      - id: check-merge-conflict
      - id: detect-private-key
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
        args: [--fix, --preview]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.47.0
    hooks:
      - id: markdownlint-fix
  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
                python/grass/temporal/ply/|
                python/libgrass_interface_generator/|
                .*/testsuite/.*
          )
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.8
    hooks:
      - id: clang-format
        types_or: [c, c++, javascript, json, objective-c]
        exclude: |
          (?x)^(
                man/jquery.fixedheadertable.min.js$|
                .*\.ipynb$
          )
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/zizmorcore/zizmor-pre-commit
    rev: v1.22.0
    hooks:
      - id: zizmor
        args:
          - "--fix"
          # https://github.com/zizmorcore/zizmor-pre-commit/blob/120fe9ac3c965ab7decf67e8b9ca24b274230eed/.pre-commit-hooks.yaml#L10
          - "--no-progress"
  - repo: https://github.com/editorconfig-checker/editorconfig-checker
    rev: v3.6.1
    hooks:
      - id: editorconfig-checker
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        # TODO: Remove these exclusions, they are just not fixed completely yet, nor ignored
        exclude_types:
          - c
          - c++
          - csv
          - html
          - markdown
          - python
          - tex
          - xml
