---
# Author: Ivan Mincik, ivan.mincik@gmail.com (linux)
#         Rainer M. Krug, Rainer@krugs.de (osx)

language: c
cache: ccache

matrix:
  include:
    - os: linux
      dist: jammy
      compiler: gcc
      env: CC=gcc CXX=g++

    - os: linux
      dist: jammy
      compiler: clang
      env: CC=clang CXX=clang++

env:
  global:
    - CFLAGS="-Werror=implicit-function-declaration"
    - CXXFLAGS="-std=c++11"

before_install:
  - ./.travis/$TRAVIS_OS_NAME.before_install.sh

install:
  - ./.travis/$TRAVIS_OS_NAME.install.sh

script:
  - ./.travis/$TRAVIS_OS_NAME.script.sh

after_success:
  - bash < (curl -s https://codecov.io/bash)

notifications:
  irc: chat.freenode.net#grass
