# Author: Ivan Mincik, ivan.mincik@gmail.com (linux)
#         Rainer M. Krug, Rainer@krugs.de (osx)

language: c
cache: ccache

matrix:
   include:
      - os: linux
        dist: xenial
        compiler: gcc
        sudo: required
        env:
            CC=gcc

      - os: linux
        dist: xenial
        compiler: clang
        sudo: required
        env:
            CC=clang

env:
  global:
    - CFLAGS="-Werror=implicit-function-declaration"

before_install:
  - ./.travis/$TRAVIS_OS_NAME.before_install.sh

install:
  - ./.travis/$TRAVIS_OS_NAME.install.sh

script:
  - ./.travis/$TRAVIS_OS_NAME.script.sh

after_success:
  - bash < (curl -s https://codecov.io/bash)

notifications:
        email:
            recipients:
                - grass-dev@lists.osgeo.org
                - landa.martin@gmail.com
                - wenzeslaus@gmail.com
            on_success: change
            on_failure: always
        irc: "chat.freenode.net#grass"

