[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E266, # too many leading '#' for block comment
    E501, # line too long (183 > 150 characters)
    E722, # do not use bare 'except'
    E741, # ambiguous variable name 'l'
    F403, # 'from ctypes import *' used; unable to detect undefined names
    F405, # 'RasterRow' may be undefined, or defined from star imports: ctypes, grass.pygrass.raster, grass.pygrass.vector
    F841, # local variable 't0' is assigned to but never used
    W293, # blank line contains whitespace
    W503, # line break before binary operator
    W504, # line break after binary operator
    W605, # invalid escape sequence '\_'

per-file-ignores =
    # C wrappers call libgis.G_gisinit before importing other modules.
    # TODO: Is this really needed?
    pygrass/vector/__init__.py: E402,
    pygrass/raster/__init__.py: E402,
    pygrass/utils.py: E402,
    # Current benchmarks/tests are changing sys.path before import.
    # Possibly, a different approach should be taken there anyway.
    pygrass/tests/benchmark.py: E402, F401, F821
    # Configuration file for Sphinx:
    # Ignoring import/code mix and line length.
    docs/conf.py: E402, E501,
    imaging/images2gif.py: E226
    # Unused imports
    */__init__.py: F401,
    */*/__init__.py: F401,
    */*/*/__init__.py: F401


max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

builtins =
    _
