boost
cairo
clangxx_osx-64
clang_osx-64
cmake
expat
fftw
flex
freetype
geos
gettext
ghostscript
giflib
git
krb5
lastools
libgdal-arrow-parquet
libgdal-core
libgdal-hdf4
libgdal-hdf5
libgdal-netcdf
libgdal-pdf
libgdal-pg
libgdal-postgisraster
libgdal-tiledb
libiconv
libjpeg-turbo
libpng
libsvm
libtiff
lld
llvm-openmp
matplotlib
numpy<2
openblas
pandoc
pdal
pillow
pkg-config
ply
postgresql
proj
python.app
python<3.13
setuptools
six
sqlite
wxpython=4.2.2
zstd
