# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
# created-by: conda 26.1.0
@EXPLICIT
https://conda.anaconda.org/conda-forge/osx-64/pandoc-3.9.0.2-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-common-0.12.6-h8616949_0.conda
https://conda.anaconda.org/conda-forge/osx-64/bzip2-1.0.8-h500dc9f_9.conda
https://conda.anaconda.org/conda-forge/osx-64/c-ares-1.34.6-hb5e19a0_0.conda
https://conda.anaconda.org/conda-forge/noarch/ca-certificates-2026.2.25-hbd8a1cb_0.conda
https://conda.anaconda.org/conda-forge/noarch/compiler-rt22_osx-64-22.1.0-hcf80936_0.conda
https://conda.anaconda.org/conda-forge/noarch/font-ttf-dejavu-sans-mono-2.37-hab24e00_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-inconsolata-3.000-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-source-code-pro-2.038-h77eed37_0.tar.bz2
https://conda.anaconda.org/conda-forge/noarch/font-ttf-ubuntu-0.83-h77eed37_3.conda
https://conda.anaconda.org/conda-forge/osx-64/giflib-5.2.2-h10d778d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/icu-75.1-h120a0e1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/json-c-0.18-hc62ec3d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-headers-1.85.0-h694c41f_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlicommon-1.2.0-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libcompiler-rt-22.1.0-h1637cdf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcxx-22.1.2-h19cb2f5_0.conda
https://conda.anaconda.org/conda-forge/noarch/libcxx-headers-22.1.2-h707e725_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libdeflate-1.25-h517ebb2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libev-4.33-h10d778d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libexpat-2.7.5-hcc62823_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfabric1-2.5.0-ha1e9b39_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libffi-3.5.2-hd1f9c09_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libiconv-1.18-h57a12c2_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libjpeg-turbo-3.1.2-h8616949_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblzma-5.8.2-h11316ed_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libntlm-1.8-h6e16a3a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopentelemetry-cpp-headers-1.21.0-h694c41f_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libutf8proc-2.11.3-hc282952_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libuv-1.51.0-h58003a5_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libwebp-base-1.6.0-hb807250_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzlib-1.3.2-hbb4bfdb_2.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-openmp-22.1.2-h0d3cbff_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lzo-2.10-h4132b18_1002.conda
https://conda.anaconda.org/conda-forge/osx-64/m4-1.4.21-hf3981d6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/metis-5.1.0-h3023b02_1007.conda
https://conda.anaconda.org/conda-forge/noarch/mpi-1.0.1-openmpi.conda
https://conda.anaconda.org/conda-forge/osx-64/ncurses-6.5-h0622a9a_3.conda
https://conda.anaconda.org/conda-forge/osx-64/nlohmann_json-3.12.0-h06076ce_1.conda
https://conda.anaconda.org/conda-forge/osx-64/perl-5.32.1-7_h10d778d_perl5.conda
https://conda.anaconda.org/conda-forge/noarch/poppler-data-0.4.12-hd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pthread-stubs-0.4-h00291cd_1002.conda
https://conda.anaconda.org/conda-forge/noarch/python_abi-3.12-8_cp312.conda
https://conda.anaconda.org/conda-forge/osx-64/rhash-1.4.6-h6e16a3a_1.conda
https://conda.anaconda.org/conda-forge/noarch/sdkroot_env_osx-64-26.0-h62b880e_7.conda
https://conda.anaconda.org/conda-forge/osx-64/tzcode-2026a-ha3d0635_0.conda
https://conda.anaconda.org/conda-forge/noarch/tzdata-2025c-hc9c84f9_1.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxau-1.0.12-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/xorg-libxdmcp-1.1.5-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/_openmp_mutex-4.5-7_kmp_llvm.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-cal-0.9.13-hea39f9f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-compression-0.3.2-hb9ea233_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-sdkutils-0.2.4-h901532c_4.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-checksums-0.2.10-h31279ed_0.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt22-22.1.0-h1637cdf_0.conda
https://conda.anaconda.org/conda-forge/noarch/compiler-rt_osx-64-22.1.0-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/draco-1.5.7-h7728843_0.conda
https://conda.anaconda.org/conda-forge/osx-64/eigen-3.4.0-h2fb4741_2.conda
https://conda.anaconda.org/conda-forge/osx-64/expat-2.7.5-hcc62823_0.conda
https://conda.anaconda.org/conda-forge/osx-64/flex-2.6.4-hcc69e7b_1004.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/fmt-12.1.0-hda137b5_0.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-forge-1-hc364b38_1.conda
https://conda.anaconda.org/conda-forge/osx-64/geos-3.14.1-he483b9e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gflags-2.2.2-hac325c4_1005.conda
https://conda.anaconda.org/conda-forge/osx-64/ghostscript-10.07.0-hcc62823_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gmp-6.3.0-hf036a51_2.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf4-4.2.15-h8138101_7.conda
https://conda.anaconda.org/conda-forge/osx-64/lastools-20171231-h046ec9c_1002.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/lerc-4.1.0-h35c7297_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libabseil-20260107.1-cxx17_h7ed6875_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libaec-1.1.5-he7c3a48_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlidec-1.2.0-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libbrotlienc-1.2.0-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libcrc32c-1.1.2-he49afe7_0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/libcxx-devel-22.1.2-h7c275be_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libedit-3.1.20250104-pl5321ha958ccf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfabric-2.5.0-h694c41f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libhwy-1.3.0-hab838a1_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/liblzma-devel-5.8.2-h11316ed_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpng-1.6.56-he930e7c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsqlite-3.52.0-h77d7759_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libsvm-337-h991f03e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxcb-1.17.0-hf1f96e2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-16-2.15.1-ha1d9b0f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lz4-c-1.10.0-h240833e_1.conda
https://conda.anaconda.org/conda-forge/osx-64/muparser-2.3.5-hb996559_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nitro-2.7.dev8-he965462_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nspr-4.38-hee0b3f1_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openssl-3.6.1-hb6871ef_1.conda
https://conda.anaconda.org/conda-forge/osx-64/pcre2-10.47-h13923f0_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pixman-0.46.4-ha059160_1.conda
https://conda.anaconda.org/conda-forge/osx-64/pkg-config-0.29.2-hf7e621a_1009.conda
https://conda.anaconda.org/conda-forge/osx-64/qhull-2020.2-h3c5361c_5.conda
https://conda.anaconda.org/conda-forge/osx-64/readline-8.3-h68b038d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/snappy-1.2.2-h01f5ddf_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tapi-1600.0.11.8-h8d8e812_1.conda
https://conda.anaconda.org/conda-forge/osx-64/tk-8.6.13-h7142dee_3.conda
https://conda.anaconda.org/conda-forge/osx-64/uriparser-0.9.8-h6aefe2f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xerces-c-3.3.0-hd0321b6_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-gpl-tools-5.8.2-h8df612c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-tools-5.8.2-h11316ed_0.conda
https://conda.anaconda.org/conda-forge/osx-64/zlib-1.3.2-hbb4bfdb_2.conda
https://conda.anaconda.org/conda-forge/osx-64/zlib-ng-2.3.3-h8bce59a_1.conda
https://conda.anaconda.org/conda-forge/osx-64/zstd-1.5.7-h3eecb57_6.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-io-0.26.1-hc95b61d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/blosc-1.21.6-hd145fbb_1.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-bin-1.2.0-h8616949_1.conda
https://conda.anaconda.org/conda-forge/osx-64/c-blosc2-2.23.1-h548f922_0.conda
https://conda.anaconda.org/conda-forge/osx-64/capnproto-1.3.0-h4a63eaa_1.conda
https://conda.anaconda.org/conda-forge/osx-64/compiler-rt-22.1.0-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cpd-0.5.5-h3c5361c_2.conda
https://conda.anaconda.org/conda-forge/noarch/fonts-conda-ecosystem-1-0.tar.bz2
https://conda.anaconda.org/conda-forge/osx-64/gettext-tools-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/glog-0.7.1-h2790a97_0.conda
https://conda.anaconda.org/conda-forge/osx-64/krb5-1.21.3-h37d8d59_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libasprintf-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libevent-2.1.12-ha90c15b_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libfreetype6-2.14.3-h58fbd8d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgcc-15.2.0-h08519bb_18.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libglib-2.86.4-hec30fc1_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libintl-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libjxl-0.11.2-hde0fb83_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libkml-1.3.0-h450b6c2_1022.conda
https://conda.anaconda.org/conda-forge/osx-64/libnghttp2-1.68.1-h70048d4_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libprotobuf-6.33.5-h29d92e8_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libre2-11-2025.11.05-h6e8c311_1.conda
https://conda.anaconda.org/conda-forge/osx-64/librttopo-1.1.0-h16cd5d8_20.conda
https://conda.anaconda.org/conda-forge/osx-64/libsigtool-0.1.3-hc0f2934_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libssh2-1.11.1-hed3591d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libtiff-4.7.1-ha0a348c_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-2.15.1-h7b7ecba_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libzip-1.11.2-h31df5bb_0.conda
https://conda.anaconda.org/conda-forge/osx-64/minizip-4.0.10-hfb7a1ec_0.conda
https://conda.anaconda.org/conda-forge/osx-64/mpfr-4.2.2-h31caf2d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/nss-3.118-h2b2a826_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python-3.12.13-ha9537fe_0_cpython.conda
https://conda.anaconda.org/conda-forge/osx-64/spdlog-1.17.0-h30f01e4_1.conda
https://conda.anaconda.org/conda-forge/osx-64/sqlite-3.52.0-hd4d344e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/xz-5.8.2-h8df612c_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-event-stream-0.5.9-h8efd969_2.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-http-0.10.10-h8f73dec_0.conda
https://conda.anaconda.org/conda-forge/osx-64/brotli-1.2.0-hf139dec_1.conda
https://conda.anaconda.org/conda-forge/noarch/cycler-0.12.1-pyhcf101f3_2.conda
https://conda.anaconda.org/conda-forge/osx-64/cyrus-sasl-2.1.28-h610c526_0.conda
https://conda.anaconda.org/conda-forge/osx-64/freexl-2.0.0-h3183152_2.conda
https://conda.anaconda.org/conda-forge/osx-64/kiwisolver-1.5.0-py312hb1dc2e7_0.conda
https://conda.anaconda.org/conda-forge/osx-64/lcms2-2.18-h90db99b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libarchive-3.8.6-gpl_h2bf6321_100.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-1.85.0-hcca3243_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libcurl-8.18.0-h9348e2b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libfreetype-2.14.3-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgettextpo-devel-0.25.1-h3184127_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran5-15.2.0-hd16e46c_18.conda
https://conda.anaconda.org/conda-forge/osx-64/libhwloc-2.13.0-default_h4e3125e_1000.conda
https://conda.anaconda.org/conda-forge/osx-64/libllvm22-22.1.0-hab754da_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libthrift-0.22.0-h687e942_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libxml2-devel-2.15.1-h7b7ecba_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libxslt-1.1.43-h486b42e_1.conda
https://conda.anaconda.org/conda-forge/noarch/munkres-1.1.4-pyhd8ed1ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/openjpeg-2.5.4-h52bb76a_0.conda
https://conda.anaconda.org/conda-forge/osx-64/orc-2.3.0-hb9b210e_0.conda
https://conda.anaconda.org/conda-forge/noarch/packaging-26.0-pyhcf101f3_0.conda
https://conda.anaconda.org/conda-forge/noarch/ply-3.11-pyhd8ed1ab_3.conda
https://conda.anaconda.org/conda-forge/noarch/pyparsing-3.3.2-pyhcf101f3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/python.app-1.4-py312h2f459f6_5.conda
https://conda.anaconda.org/conda-forge/osx-64/re2-2025.11.05-h77e0585_1.conda
https://conda.anaconda.org/conda-forge/noarch/setuptools-82.0.1-pyh332efcf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/sigtool-codesign-0.1.3-hc0f2934_0.conda
https://conda.anaconda.org/conda-forge/noarch/six-1.17.0-pyhe01879c_1.conda
https://conda.anaconda.org/conda-forge/noarch/tomli-2.4.1-pyhcf101f3_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tornado-6.5.5-py312h933eb07_0.conda
https://conda.anaconda.org/conda-forge/osx-64/unicodedata2-17.0.1-py312h1a1c95f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-auth-0.9.6-hbd79662_1.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-mqtt-0.14.0-h2b5127a_1.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-core-cpp-1.16.2-h87f1c7e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/cmake-4.2.3-h965d0ab_1.conda
https://conda.anaconda.org/conda-forge/osx-64/fontconfig-2.17.1-h7a4440b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fonttools-4.62.0-py312heb39f77_0.conda
https://conda.anaconda.org/conda-forge/osx-64/freetype-2.14.3-h694c41f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/gettext-0.25.1-he52a196_1.conda
https://conda.anaconda.org/conda-forge/osx-64/git-2.53.0-pl5321hd1efe10_0.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64_osx-64-956.6-llvm22_1_h163eae7_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-devel-1.85.0-h2b186f8_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libclang-cpp22.1-22.1.0-default_h9399c5b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgfortran-15.2.0-h7e5c614_18.conda
https://conda.anaconda.org/conda-forge/osx-64/libgrpc-1.78.1-h147dede_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpmix-5.0.8-haa30d82_4.conda
https://conda.anaconda.org/conda-forge/osx-64/lld-22.1.0-hf72bb31_0.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-22-22.1.0-hc181bea_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openldap-2.6.10-hd8a590d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/pillow-12.2.0-py312he84af14_0.conda
https://conda.anaconda.org/conda-forge/osx-64/proj-9.7.1-h4aacef1_3.conda
https://conda.anaconda.org/conda-forge/osx-64/prometheus-cpp-1.3.0-h7802330_0.conda
https://conda.anaconda.org/conda-forge/noarch/python-dateutil-2.9.0.post0-pyhe01879c_2.conda
https://conda.anaconda.org/conda-forge/osx-64/sip-6.15.3-py312h959a22e_0.conda
https://conda.anaconda.org/conda-forge/noarch/wheel-0.46.3-pyhd8ed1ab_0.conda
https://conda.anaconda.org/conda-forge/osx-64/wxwidgets-3.2.9-h2be004d_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-c-s3-0.11.5-hafc236b_3.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-identity-cpp-1.13.3-h1135191_1.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-common-cpp-12.12.0-h7373072_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cairo-1.18.4-h950ec3b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-22-22.1.0-default_h3b8fe2e_0.conda
https://conda.anaconda.org/conda-forge/osx-64/fftw-3.3.10-nompi_h54214ab_112.conda
https://conda.anaconda.org/conda-forge/osx-64/geotiff-1.7.4-h6952e58_4.conda
https://conda.anaconda.org/conda-forge/osx-64/hdf5-1.14.6-nompi_hf563b80_106.conda
https://conda.anaconda.org/conda-forge/osx-64/ld64-956.6-llvm22_1_hc399b6d_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-2.39.0-h11ac9da_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libopenblas-0.3.32-openmp_h9e49c7b_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libopentelemetry-cpp-1.21.0-h7a0a166_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libpq-18.1-h1e038c5_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libspatialite-5.1.0-gpl_hb921464_119.conda
https://conda.anaconda.org/conda-forge/osx-64/libsuitesparseconfig-7.10.1-h00e5f87_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/llvm-tools-22.1.0-h1637cdf_0.conda
https://conda.anaconda.org/conda-forge/osx-64/openmpi-5.0.10-h42b4cad_1.conda
https://conda.anaconda.org/conda-forge/noarch/pip-26.0.1-pyh8b19718_0.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-crt-cpp-0.37.3-h4bfe737_0.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-blobs-cpp-12.16.0-h9b4319f_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cctools_impl_osx-64-1030.6.3-llvm22_1_h8fe25a2_4.conda
https://conda.anaconda.org/conda-forge/osx-64/fgt-0.4.11-hf719765_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libamd-3.3.3-ha5840a7_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libblas-3.11.0-6_he492b99_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libbtf-2.3.2-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libcamd-3.3.3-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libccolamd-3.3.4-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libcolamd-3.3.4-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libcxsparse-4.4.1-h3868ee3_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-core-3.12.2-h38b45ac_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgoogle-cloud-storage-2.39.0-hea209c6_1.conda
https://conda.anaconda.org/conda-forge/osx-64/libldl-3.3.2-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libnetcdf-4.9.3-nompi_h29b767a_104.conda
https://conda.anaconda.org/conda-forge/osx-64/librbio-4.3.4-hca54c18_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/openblas-0.3.32-openmp_h30af337_0.conda
https://conda.anaconda.org/conda-forge/osx-64/poppler-25.12.0-hfdf75fe_0.conda
https://conda.anaconda.org/conda-forge/osx-64/postgresql-18.1-haa914b9_2.conda
https://conda.anaconda.org/conda-forge/osx-64/aws-sdk-cpp-1.11.747-h5d703ad_1.conda
https://conda.anaconda.org/conda-forge/osx-64/azure-storage-files-datalake-cpp-12.14.0-he1781d6_1.conda
https://conda.anaconda.org/conda-forge/osx-64/cctools-1030.6.3-llvm22_1_h0a1bb1c_4.conda
https://conda.anaconda.org/conda-forge/osx-64/cctools_osx-64-1030.6.3-llvm22_1_h0a1bb1c_4.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_impl_osx-64-22.1.0-default_he9bf3b8_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libcblas-3.11.0-6_h9b27e0a_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf4-3.12.2-h874d2e8_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-hdf5-3.12.2-he6c7206_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-jp2openjpeg-3.12.2-h1a3a150_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pdf-3.12.2-h0a05743_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-pg-3.12.2-hc37dd42_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-postgisraster-3.12.2-hc37dd42_0.conda
https://conda.anaconda.org/conda-forge/osx-64/liblapack-3.11.0-6_h859234e_openblas.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-core-2.9.3-hf2b51df_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libspex-3.2.3-hc5c4b0d_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/clang-22.1.0-default_cfg_h93fe8ef_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clang_osx-64-22.1.0-hdc753ca_31.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_impl_osx-64-22.1.0-default_he9bf3b8_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-22.0.0-h79fc209_15_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libcholmod-5.3.1-h7ea7d7c_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-netcdf-3.12.2-ha81d7ac_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-cpd-2.9.3-hda5e50e_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-draco-2.9.3-hda5e50e_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-e57-2.9.3-hf01f119_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-icebridge-2.9.3-h3f0c6fa_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-nitf-2.9.3-ha2abb99_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-pgpointcloud-2.9.3-h0dcc8b0_4.conda
https://conda.anaconda.org/conda-forge/osx-64/numpy-1.26.4-py312he3a82b2_0.conda
https://conda.anaconda.org/conda-forge/osx-64/tiledb-2.30.1-he550532_1.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx-22.1.0-default_cfg_hbf36760_0.conda
https://conda.anaconda.org/conda-forge/osx-64/clangxx_osx-64-22.1.0-hdc753ca_31.conda
https://conda.anaconda.org/conda-forge/osx-64/contourpy-1.3.3-py312hb0c38da_4.conda
https://conda.anaconda.org/conda-forge/osx-64/gdal-3.12.2-py312h48f6a82_3.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-compute-22.0.0-hf6991d6_15_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-1.85.0-py312h44e70fa_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-tiledb-3.12.2-h9520937_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libklu-2.3.5-hc7f8671_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libparquet-22.0.0-hff83f4b_15_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-hdf-2.9.3-h3f0c6fa_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libspqr-4.3.4-h795628b_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libumfpack-6.3.5-h0658b90_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/python-pdal-3.5.3-np2py312h876119d_2.conda
https://conda.anaconda.org/conda-forge/osx-64/wxpython-4.2.5-py312h959a22e_2.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-acero-22.0.0-hc3fea08_15_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/libboost-python-devel-1.85.0-py312h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libparu-1.0.0-hf1a04d7_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-tiledb-2.9.3-h8b6235e_4.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-base-3.10.8-py312h7894933_0.conda
https://conda.anaconda.org/conda-forge/osx-64/boost-1.85.0-h0be7463_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libarrow-dataset-22.0.0-hc3fea08_15_cpu.conda
https://conda.anaconda.org/conda-forge/osx-64/matplotlib-3.10.8-py312hb401068_0.conda
https://conda.anaconda.org/conda-forge/osx-64/suitesparse-7.10.1-h033788e_7100102.conda
https://conda.anaconda.org/conda-forge/osx-64/ceres-solver-2.2.0-cpugplh1aec0f5_209.conda
https://conda.anaconda.org/conda-forge/osx-64/libgdal-arrow-parquet-3.12.2-hee9b79f_0.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-arrow-2.9.3-h1c7adde_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-trajectory-2.9.3-hc91aaad_4.conda
https://conda.anaconda.org/conda-forge/osx-64/libpdal-2.9.3-h6408fa8_4.conda
https://conda.anaconda.org/conda-forge/noarch/pdal-2.9.3-he7fbf59_0.conda
