:root > * {
  --md-primary-fg-color:        #088B36;
  --md-primary-fg-color--light: #088B36;
  --md-primary-fg-color--dark:  #088B36;
  --md-footer-bg-color:         #088B36;
  --md-footer-bg-color--light:  #088B36;
  --md-footer-bg-color--dark:   #088B36;
}

.md-header__button.md-logo {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.md-header__button.md-logo img,
.md-header__button.md-logo svg {
  height: 70%;
  width: 70%;
}
