---
# Project information
site_name: !ENV SITE_NAME
site_url: https://grass.osgeo.org/grass-stable/manuals/

# Repository information
repo_name: GitHub
repo_url: https://github.com/OSGeo # Set to OSGeo so we can added grass and grass-addons
edit_uri_template: edit/main/{path!q}

# Project Configuration
docs_dir: source
use_directory_urls: false

# Copyright
copyright: !ENV COPYRIGHT

# Theme configuration
theme:
  name: material
  custom_dir: overrides
  language: en
  logo: grass_logo.svg
  favicon: favicon.ico
  features:
    - search.suggest
    - search.highlight
    - content.code.copy
    - navigation.footer
    - navigation.indexes
    # - navigation.expand
    - navigation.tabs
    - navigation.tabs.sticky
    - content.action.view
    - content.action.edit # Edit on GitHub
  palette:
    primary: custom
    # accent: custom
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    view: material/eye

# Customization
extra:
  homepage: ./index.html

# Hooks
hooks:
  - scripts/hook_list_scripts.py

# Custom CSS
extra_css:
  - grassdocs.css

# Plugins
plugins:
  - search
  - glightbox
  - tags
  - social:
      cards_layout_options:
        background_image: null
  # - git-revision-date-localized:
  #     enable_creation_date: true
  # - git-committers:
  #     repository: OSGeo/grass
  #     branch: main

# Markdown extensions
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - attr_list
  - md_in_html

# Navigation
nav:
  - Interfaces:
      - Shell:
          - Overview: grass.md
          # - Getting Started: grassintro.md # Does not exist yet
          - Environmental Variables: variables.md
      - GUI:
          - Overview: wxguiintro.md
          - Features: wxGUI.md
          - Project Management: grass_database.md
          - Tool Dialogs: wxGUI.modules.md
          - Attrribute Table Management: wxGUI.dbmgr.md
          - Cartographic Composer: wxGUI.psmap.md
          - Data Catalog: wxGUI.datacatalog.md
          - Vector Digitizer: wxGUI.vdigit.md
          - Raster Digitizer: wxGUI.rdigit.md
          - Graphical Modeler: wxGUI.gmodeler.md
          - Ground Control Points Manager: wxGUI.gcp.md
          - Network Analysis: wxGUI.vnet.md
          - Help: helptext.md
          - List of Components: wxGUI.components.md

      # - Scripting:
      #     - Overview: scriptingintro.md
      #     - Python: python.md
      #     - Shell Scripting: shell.md
      #     - Batch Processing: batch.md
      #     - R: r.md
      # - Jupyter Notebook: jupyter.md

  - Project Management:
      - General Tools: general.md
      - Projection and Transformations: projectionintro.md

  - Processing Tools:
      - Raster:
          - Overview: rasterintro.md
          - Raster Tools: raster.md
      - Raster 3D:
          - Overview: raster3dintro.md
          - Raster 3D Tools: raster3d.md
      - Vectors:
          - Overview: vectorintro.md
          - Vector Tools: vector.md
          - Databases Overview: databaseintro.md
          - Database Tools: database.md
          - Supported Database Drivers: sql.md
      # - GUI Tools:
      - Imagery:
          - Overview: imageryintro.md
          - Imagery Tools: imagery.md
          - GUI Tools:
              - Image Classification: wxGUI.iclass.md
      - Temporal:
          - Overview: temporalintro.md
          - Temporal: temporal.md

  - Visualization:
      # - Overview: visualizationintro.md # Does not exist yet
      - Display Tools: display.md
      - GUI Tools:
          - Animation: wxGUI.animation.md
          - "3D Visualization": wxGUI.nviz.md
          - Interactive Scatter Plot: wxGUI.iscatt.md
          - Map Swipe: wxGUI.mapswipe.md
          - Timeline: wxGUI.timeline.md
          - Temporal Plot: wxGUI.tplot.md

  # - Other:
  #     - Misc: miscellaneous.md
  #     - Postscript: postscript.md
