[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E501, # line too long
    E722, # do not use bare 'except'
    E741, # ambiguous variable name 'l'
    F401, # 'types' imported but unused
    F522, # '...'.format(...) has unused named argument(s): version
    F821, # undefined name
    F841, # local variable 'e' is assigned to but never used
    W605, # invalid escape sequence '\.'

max-line-length = 88

exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,

builtins =
    _
