[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=GRASS GIS
Comment=Geographic Information System
Comment[cs]=Geografický Informační Systém
Comment[de]=Geographisches Informationssystem
Comment[es]=Sistema de Información Geográfica
Comment[fr]=Système d'Information Géographique
Comment[it]=Sistema Informativo Geografico
Comment[pl]=System Informacji Geograficznej
Categories=Education;Science;Geoscience;Geography;
Exec=grass7
Icon=/usr/share/icons/grass-48x48.png
Terminal=true
