[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E722, # do not use bare 'except'
    E741, # ambiguous variable name 'l'
    F841, # local variable 'center' is assigned to but never used
    E501, # line too long (161 > 150 characters)

max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

builtins =
    _
