[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E501, # line too long (161 > 150 characters)

per-file-ignores =
    # Many of these ignores can and should be removed and the problem fixed.
    # F841 local variable is assigned to but never used
    # E402 module level import not at top of file
    # E741 ambiguous variable name 'l' (needs longer name)
    # E722 do not use bare 'except'
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

builtins =
    _
