#!/bin/sh

#########################################################################
#
# GRASS initialization shell script (OSGeo4W)
#
#########################################################################

OSGEO4W_ROOT_MSYS="@OSGEO4W_ROOT_MSYS@"
GISBASE="$OSGEO4W_ROOT_MSYS/apps/grass/grass-@VERSION@"
GRASS_SH="$OSGEO4W_ROOT_MSYS/apps/msys/bin/sh.exe"
GRASS_PYTHON="$OSGEO4W_ROOT_MSYS/bin/python.exe"
PYTHONHOME="$OSGEO4W_ROOT_MSYS/apps/Python27"
GRASS_PROJSHARE="$OSGEO4W_ROOT_MSYS/share/proj"
PATH="$OSGEO4W_ROOT_MSYS/apps/grass/grass-@VERSION@/bin:$PATH"

export OSGEO4W_ROOT_MSYS GISBASE GRASS_SH GRASS_PYTHON PYTHONHOME GRASS_PROJSHARE
export PATH

"$GRASS_PYTHON" "$GISBASE/etc/grass@POSTFIX@.py" "$@"

exit 0
