sdesc: "GRASS GIS - daily builds of development version"
ldesc: "Geographic Resources Analysis Support System (GRASS GIS) - daily builds of the main branch from Git"
category: Desktop
requires: liblas gdal303-runtime proj81-runtime avce00 gpsbabel gs python3-gdal python3-matplotlib libtiff python3-wxpython python3-pillow python3-pip python3-pyopengl python3-psycopg2-binary zstd python3-pywin32
maintainer: MartinLanda
curr: @GRASS_VERSION_NUMBER@-1
prev: @GRASS_VERSION_NUMBER@-1
