sdesc: "GRASS GIS - daily builds of development version"
ldesc: "Geographic Resources Analysis Support System (GRASS GIS) - daily builds of SVN release branch"
category: Desktop
requires: liblas avce00 gpsbabel gs gdal-python matplotlib msvcrt iconv libtiff gdal proj freetype-mingw pdcurses zlib fftw libpng wxpython python-numpy python-pil pyopengl cairo psycopg2 rbatch
maintainer: MartinLanda
curr: @GRASS_VERSION_NUMBER@-1
prev: @GRASS_VERSION_NUMBER@-1
