sdesc: "GRASS GIS - daily builds of development version"
ldesc: "Geographic Resources Analysis Support System (GRASS GIS) - daily builds of git master"
category: Desktop
requires: liblas avce00 gpsbabel gs python3-gdal python3-matplotlib msvcrt msvcrt2013 msvcrt2015 iconv libtiff gdal proj pdcurses zlib fftw libpng python3-wx python3-numpy python3-pillow python3-pip python3-ply python3-pyopengl cairo python3-psycopg2 python3-six rbatch zstd zstd-bin python3-pywin32
maintainer: MartinLanda
curr: @GRASS_VERSION_NUMBER@-1
prev: @GRASS_VERSION_NUMBER@-1
