name: Additional Checks

# Checks which are not in standardized tools such as custom checks by scripts
# in the source code or small 3rd party checks without large projects behind them.
# Number of disconnected, but simple checks can be combined into one workflow
# (and job) to reduce the number of jobs.

on:
  push:
    branches:
      - main
      - releasebranch_*
  pull_request:
    branches:
      - main
      - releasebranch_*

jobs:
  additional-checks:
    name: Additional checks
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository contents
        uses: actions/checkout@v2

      - name: Check for CRLF endings
        uses: erclu/check-crlf@v1
        with:
          # Ignore all test data, Windows-specific directories and scripts.
          exclude: mswindows .*\.bat .*/testsuite/data/.*

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Generate core modules with last commit JSON file and test it
        run: |
          python -m pip install pytest pytest-depends
          python utils/generate_last_commit_file.py .
          pytest utils/test_generate_last_commit_file.py
