---
name: ClangFormat Check
on:
  push:
    branches:
      - main
      - releasebranch_*
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true
permissions: {}
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: DoozyX/clang-format-lint-action@bcb4eb2cb0d707ee4f3e5cc3b456eb075f12cf73 # v0.20
        with:
          source: "."
          clangFormatVersion: 20
          inplace: True
      - name: Create and uploads code suggestions to apply
        id: diff
        uses: ./.github/actions/create-upload-suggestions
        with:
          tool-name: clang-format
          # To keep repo's file structure in formatted changes artifact
          extra-upload-changes: .clang-format
