name: Coverity Scan
on:
  workflow_dispatch: # run whenever a contributor calls it
  schedule: 
    - cron: '48 5 * * *' # Run at 05:48
    # Coverity will let GRASS do a scan a maximum of twice per day, so this schedule will help GRASS fit within that limit with some additional space for manual runs
  
jobs:
  build:
    runs-on: [ ubuntu-latest ]
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3
      - name: Coverity Scan
        uses: synopsys-sig/synopsys-action@45ec794c72a1dff9baba58ff356386bbbfeb32c7 #v1.6.0
        with:
          ### SCANNING: Required fields
          coverity_url: ${{ secrets.COVERITY_URL }}               # The URL to Coverity
          coverity_user: ${{ secrets.COVERITY_USER }}             # The user for the Coverity project
          coverity_passphrase: ${{ secrets.COVERITY_PASSPHRASE }} # The password for the Coverity user
