name: Python Flake8 Code Quality

on:
- push
- pull_request

jobs:

  flake8:
    name: ${{ matrix.directory }}
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        directory:
        - gui/wxpython
        - lib/python
        - scripts
        - temporal
      fail-fast: false

    steps:

    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install
      run: |
        python -m pip install --upgrade pip
        pip install flake8==3.8.4

    - name: Run Flake8
      run: |
        cd ${{ matrix.directory }}
        flake8 --count --statistics --show-source --jobs=$(nproc) .
