---
name: OSGeo4W

on:
  push:
    branches:
      - main
      - releasebranch_*
  pull_request:

jobs:
  build:
    name: ${{ matrix.os }} build and tests

    concurrency:
      group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}-${{
        matrix.os }}
      cancel-in-progress: true

    runs-on: ${{ matrix.os }}
    env:
      PYTHONWARNINGS: always
    strategy:
      matrix:
        os:
          - windows-2019
      fail-fast: false

    steps:
      - name: Set git to use LF
        run: |
          git config --global core.autocrlf false
          git config --global core.eol lf
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: msys2/setup-msys2@c52d1fa9c7492275e60fe763540fb601f5f232a1 # v2.25.0
        with:
          path-type: inherit
          location: D:\
          update: true
          msystem: MINGW64
          install: tar libintl make bison flex diffutils git dos2unix zip mingw-w64-x86_64-toolchain
            mingw-w64-x86_64-fftw mingw-w64-x86_64-openblas mingw-w64-x86_64-pkgconf
            mingw-w64-x86_64-gcc mingw-w64-x86_64-ccache mingw-w64-x86_64-zlib mingw-w64-x86_64-libiconv
            mingw-w64-x86_64-bzip2 mingw-w64-x86_64-gettext mingw-w64-x86_64-libsystre
            mingw-w64-x86_64-libtre-git mingw-w64-x86_64-libwinpthread-git mingw-w64-x86_64-libpng
            mingw-w64-x86_64-pcre

      - name: Setup OSGeo4W environment
        uses: echoix/setup-OSGeo4W@f4311523e39f2c8b10e34ebbc3f2ff437ecfb9ed # v0.2.0
        with:
          package-dir: "D:/OSGeo4W_pkg"
          packages: |
            cairo-devel
            fftw
            freetype-devel
            gdal-devel
            gdal-ecw
            gdal-mrsid
            geos-devel
            liblas-devel
            libpng-devel
            libpq-devel
            libtiff-devel
            libxdr
            netcdf-devel
            pdal-devel
            pdcurses
            proj-devel
            python3-core
            python3-jupyter
            python3-matplotlib
            python3-numpy
            python3-pip
            python3-ply
            python3-pytest
            python3-pywin32
            python3-wxpython
            regex-devel
            zstd-devel

      - name: Set number of cores for compilation
        run: |
          echo "MAKEFLAGS=-j$(nproc)" >> $GITHUB_ENV
        shell: msys2 {0}

      - name: Compile GRASS GIS
        shell: msys2 {0}
        run: |
          export CFLAGS="${CFLAGS} -pipe"
          export CXXFLAGS="${CXXFLAGS} -pipe"
          .github/workflows/build_osgeo4w.sh

      - name: Print installed versions
        if: always()
        shell: msys2 {0}
        run: .github/workflows/print_versions.sh

      - name: Test executing of the grass command
        run: .github/workflows/test_simple.bat 'C:\OSGeo4W\opt\grass\grass85.bat'

      - name: Test executing of the grass command in bash
        shell: msys2 {0}
        run: .github/workflows/test_simple.sh

      - name: Install pytest plugins
        run: python -m pip install pytest-timeout
        shell: cmd /D /E:ON /V:OFF /S /C "CALL C:/OSGeo4W/OSGeo4W.bat "{0}""
      - name: Run pytest with a single worker
        run: |
          call %OSGEO4W_ROOT%\opt\grass\etc\env.bat
          set PYTHONPATH=%GISBASE%\etc\python;%PYTHONPATH%
          path %GISBASE%\lib;%GISBASE%\bin;%PATH%
          pytest --verbose --color=yes ^
            --durations=0 --durations-min=0.5 ^
            -ra .
        shell: cmd /D /E:ON /V:OFF /S /C "CALL C:/OSGeo4W/OSGeo4W.bat "{0}""

      - name: Run tests
        run: .github/workflows/test_thorough.bat 'C:\OSGeo4W\opt\grass\grass85.bat' 'C:\OSGeo4W\bin\python3'

      - name: Make HTML test report available
        if: ${{ always() }}
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4.4.3
        with:
          name: testreport-${{ matrix.os }}
          path: testreport
          retention-days: 3
