---
name: Post PR code suggestions

on:
  # zizmor: ignore[dangerous-triggers] Only selected workflows, and whitelisted input values are used
  workflow_run:
    workflows:
      - "Additional checks"
      - "ClangFormat Check"
      - "Python Code Quality"
    types:
      - completed
permissions: {}
jobs:
  post-suggestions:
    runs-on: ubuntu-latest
    # Only run on failures, since no changes are needed on success
    if: >
      (github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'failure')
    permissions:
      pull-requests: write
    steps:
      - name: Create a .git directory needed by reviewdog
        run: git init
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        id: diff
        continue-on-error: true
        with:
          name: diff
          github-token: ${{ github.token }}
          run-id: ${{github.event.workflow_run.id }}
      - uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      - run: reviewdog -version
      - name: Check what tools have suggestions to post
        # Using this pattern to have expected file names explicitly named
        id: tools
        run: |
          for tool_name in $INPUT_TOOL_NAMES
          do
            INPUT_TOOL_NAME_FILE="diff-${tool_name}.patch"
            echo "Checking if tool ${tool_name} left suggestions in ${INPUT_TOOL_NAME_FILE}..."
            if [[ -f "${INPUT_TOOL_NAME_FILE}" ]]; then
              echo "   ${INPUT_TOOL_NAME_FILE} was found for tool ${tool_name}"
              echo "$tool_name=true" >> "${GITHUB_OUTPUT}"
            else
              echo "   ${INPUT_TOOL_NAME_FILE} was not found for tool ${tool_name}"
              echo "$tool_name=false" >> "${GITHUB_OUTPUT}"
            fi
          done
        env:
          INPUT_TOOL_NAMES: >-
            black
            clang-format
            pre-commit
            ruff
      - name: Post Black suggestions
        if: ${{ steps.tools.outputs.black == 'true' }}
        run: |
          TMPFILE="diff-${INPUT_TOOL_NAME}.patch"
          GITHUB_ACTIONS="" reviewdog \
              -name="${INPUT_TOOL_NAME:-reviewdog-suggester}" \
              -f=diff \
              -f.diff.strip=1 \
              -filter-mode=nofilter \
              -guess \
              -reporter="github-pr-review" < "${TMPFILE}"
        env:
          INPUT_TOOL_NAME: black
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT: ${{ github.event.workflow_run.head_sha }}
          CI_REPO_OWNER: ${{ github.event.workflow_run.repository.owner.login }}
          CI_REPO_NAME: ${{ github.event.workflow_run.repository.name }}
          # CI_PULL_REQUEST: "" # Populated from reviewdog's "-guess" flag since hard to get
      - name: Post ClangFormat suggestions
        if: ${{ steps.tools.outputs.clang-format == 'true' }}
        run: |
          TMPFILE="diff-${INPUT_TOOL_NAME}.patch"
          GITHUB_ACTIONS="" reviewdog \
              -name="${INPUT_TOOL_NAME:-reviewdog-suggester}" \
              -f=diff \
              -f.diff.strip=1 \
              -filter-mode=nofilter \
              -guess \
              -reporter="github-pr-review" < "${TMPFILE}"
        env:
          INPUT_TOOL_NAME: clang-format
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT: ${{ github.event.workflow_run.head_sha }}
          CI_REPO_OWNER: ${{ github.event.workflow_run.repository.owner.login }}
          CI_REPO_NAME: ${{ github.event.workflow_run.repository.name }}
          # CI_PULL_REQUEST: "" # Populated from reviewdog's "-guess" flag since hard to get
      - name: Post pre-commit suggestions
        if: ${{ steps.tools.outputs.pre-commit == 'true' }}
        run: |
          TMPFILE="diff-${INPUT_TOOL_NAME}.patch"
          GITHUB_ACTIONS="" reviewdog \
              -name="${INPUT_TOOL_NAME:-reviewdog-suggester}" \
              -f=diff \
              -f.diff.strip=1 \
              -filter-mode=nofilter \
              -guess \
              -reporter="github-pr-review" < "${TMPFILE}"
        env:
          INPUT_TOOL_NAME: pre-commit
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT: ${{ github.event.workflow_run.head_sha }}
          CI_REPO_OWNER: ${{ github.event.workflow_run.repository.owner.login }}
          CI_REPO_NAME: ${{ github.event.workflow_run.repository.name }}
          # CI_PULL_REQUEST: "" # Populated from reviewdog's "-guess" flag since hard to get
      - name: Post Ruff suggestions
        if: ${{ steps.tools.outputs.ruff == 'true' }}
        run: |
          TMPFILE="diff-${INPUT_TOOL_NAME}.patch"
          GITHUB_ACTIONS="" reviewdog \
              -name="${INPUT_TOOL_NAME:-reviewdog-suggester}" \
              -f=diff \
              -f.diff.strip=1 \
              -filter-mode=nofilter \
              -guess \
              -reporter="github-pr-review" < "${TMPFILE}"
        env:
          INPUT_TOOL_NAME: ruff
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CI_COMMIT: ${{ github.event.workflow_run.head_sha }}
          CI_REPO_OWNER: ${{ github.event.workflow_run.repository.owner.login }}
          CI_REPO_NAME: ${{ github.event.workflow_run.repository.name }}
          # CI_PULL_REQUEST: "" # Populated from reviewdog's "-guess" flag since hard to get
