[flake8]
ignore =
    E203,  # whitespace before ':' (Black)
    W503,  # line break before binary operator (Black)
    E501,  # line too long (179 > 150 characters)

per-file-ignores =
    # local variable 'column' is assigned to but never used
    t.rast.to.vect/t.rast.to.vect.py: F841
    # local variable 'stdstype' is assigned to but never used
    t.vect.algebra/t.vect.algebra.py: F841
    # ## used (##% key: r etc)
    # local variable 'map_list' is assigned to but never used
    t.rast.what/t.rast.what.py: E265, E266, F841

max-line-length = 88
exclude =
    .git,
    __pycache__,
    .env,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

builtins =
    _
